<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">选项</li>
      {{#each pages}}
        <li class="{{isActive ../viewPath this.path}}">
          <a href="{{this.path}}">
            <i class="fa {{this.icon}}"></i>
            <span>{{this.title}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  </section>
</aside>
