<style media="screen">
  a {
    color: #333333;
  }
</style>
<div class="box">
  <div class="box-header">
    <div class="box-title">{{title}}</div>
  </div>
  <div class="box-header">
    <button type="button" class="btn btn-primary create-cate">创建</button>
  </div>
  <div class="box-body">
    <table class="table table-bordered" id="cate-table" >
      <thead>
        <tr>
          <th>编号</th>
          <th>类别名</th>
          <th>类别描述</th>
          <th>操作</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script src="/js/postCategory.js?t={{timestamp}}" charset="utf-8"></script>
