<style media="screen">
  a {
    color: #333333;
  }
</style>
<div class="box">
  <div class="box-header">
    <div class="box-title">{{title}}</div>
  </div>
  <div class="box-header">
    <button type="button" class="btn btn-primary create-tip">创建</button>
  </div>
  <div class="box-body">
    <table class="table table-bordered" id="tips-table" >
      <thead>
        <tr>
          <th>编号</th>
          <th>内容片段</th>
          <th>操作</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script type="text/x-dot-template" id="TipEditor" >
<div class="content">
  <form id="tipform" data-id="\{{=it.id}}">
    <div class="form-group">
       <label class="control-label">内容片段:</label>
       <textarea class="form-control" name="tipText" cols="30" rows="8" >\{{=it.tipText}}</textarea>
     </div>
  </form>
</div>
</script>
<script src="/js/tips.js?t={{timestamp}}" charset="utf-8"></script>
