body {
  font-family: -apple-system,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,WenQuanYi Micro Hei,SimSun,sans-serif;
  font-size: 14px;
}

a {
  color: #00B7FF;
}

.fa {
  margin: 3px;
}

.content-wrapper {
  position: relative;
}

.main-content {
  position: absolute;
  height: 100%;
  overflow: auto;
}
